*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(320deg, #000 0%, #000 75%, #0f1626 100%);
    color: #fff;
}
.formUsuario{
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formProveedor{
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}